[submodule "mortem"]
	path = mortem
	url = https://gitlab.com/scillidan1/mortem
[submodule "Gaea"]
	path = Gaea
	url = https://github.com/scillidan/Gaea
[submodule "Letnice"]
	path = Letnice
	url = https://github.com/scillidan/Letnice
[submodule "ivy"]
	path = ivy
	url = https://gitlab.com/scillidan1/ivy
[submodule "hexy"]
	path = hexy
	url = https://gitlab.com/scillidan1/hexy
[submodule "orrery"]
	path = orrery
	url = https://gitlab.com/scillidan1/orrery
[submodule "karanokyoukai-html"]
	path = karanokyoukai-html
	url = https://github.com/scillidan/karanokyoukai-html
[submodule "bakemonogatari-html"]
	path = bakemonogatari-html
	url = https://github.com/scillidan/bakemonogatari-html
[submodule "grass"]
	path = grass
	url = https://github.com/scillidan/grass
[submodule "bellwoods"]
	path = bellwoods
	url = https://github.com/mattdesl/bellwoods
[submodule "cfr"]
	path = cfr
	url = https://github.com/scillidan/cfr
